@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Geist", "Manrope", sans-serif;
  
  --color-primary-bg: #080808;
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #A1A1A1;
  --color-accent-blue: #2563FF;
}

body {
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
  font-family: var(--font-sans);
}
